

@media (max-width: 1200px){
    .navbar__menu{
        margin-right: 40px;
        width: 40%;
    }
}



@media (max-width: 900px){
    .navbar__menu{
        margin-right: 20px;
        width: 50%;
    }
}


@media (max-width: 670px){
    .navbar__menu{
        margin-right: 20px;
        width: 70%;
    }
}


@media (max-width: 500px){
    .navbar__menu{
        margin-right: 10px;
        width: 70%;

    }
}