@media (max-width: 560px){
    .tables__container{
        width: 400px;
    }
}

@media (max-width: 440px){
    .tables__container{
        width: 350px;
    }
}

@media (max-width: 400px){
    .tables__container{
        width: 300px;

        & h2{
            font-size: 20px;
        }

        & h3{
            font-size: 15px;
        }
        
    }
}


@media (max-width: 340px){
    .tables__container{
        width: 250px;

        & h2{
            font-size: 18px;
        }

        & h3{
            font-size: 13px;
        }
        
    }
}