
@media (max-width: 1100px){
    .tablesForm__loading-data{
        height: 60%;
        width: 40%;
    }
    .tablesForm__loading-data__img{
        height: 50%;
    }

}

@media (max-width: 710px){
    .tablesForm__loading-data{
        height: 60%;
        width: 50%;
    }

}

@media (max-width: 560px){
    .tablesForm__loading-data{
        height: 60%;
        width: 70%;
    }

}

@media (max-width: 400px){
    .tablesForm__loading-data{
        height: 60%;
        width: 70%;
    }

    .tablesForm__loading-data__img{
        height: 40%;
    }
}

@media (max-width: 320px){
    .tablesForm__loading-data{
        height: 50%;
        width: 70%;
    }

    .tablesForm__loading-data__img{
        height: 30%;
    }
}