@media (max-width: 1100px) {
  .categoriesList__main-content__buttons {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .categoriesList__main-content__buttons {
    width: 50%;
  }

  .categoriesList__main-content__card {
    margin-bottom: 8px;
    width: 90%;
  }

  .categoriesList__main-content {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .categoriesList__main-content__card {
    & span {
      font-size: 20px;
    }
  }
}

@media (max-width: 440px) {
  .btn-red,
  .btn-blue {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .categoriesList__main-content__card {
    & span {
      font-size: 17px;
    }
  }
}
@media (max-width: 360px) {
  .categoriesList__main-content__card {
    & span {
      font-size: 15px;
    }
  }

  .btn-red,
  .btn-blue {
    font-size: 9px;
  }
}


@media (max-width: 350px) {

    .categoriesList__main-title{
        font-size: 18px;
    }

}
