* {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $secundary;
  height: 100vh;
  width: 100vw;
}


.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.takeOut{
  display: none;
}

